{% setcontent logo = 'bloque/logotipo-claro' %} 
{% setcontent practice_areas = 'practicas' where {viewhome: 'yes'} %} {# filtro #}

{% set location = config.get('theme/location') %} 
{# dump(location['map_query']) #}

{#}
{% setcontent address = 'bloque/direccion' %}
{% setcontent phone = 'bloque/telefono-de-contacto' %}
{% setcontent email = 'bloque/correo-electronico' %}
#}

{% set socials = config.get('theme/socials') %} 

<a href="#" id="back-to-top"></a>
<!-- footer begin -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="widget">
          <a href="index.html"><img alt="" class="img-fluid mb20" src="{{ logo.image }}" /></a>
          <address class="s1">
            <span><i class="id-color fa fa-map-marker fa-lg"></i>{{ location['address'] }}</span>
            <span><i class="id-color fa fa-phone fa-lg"></i>{{ location['phone'] }}</span>
            <span
              ><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">{{ location['email'] }}</a></span
            >
            {# <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> #}
          </address>
        </div>
      </div>
      <div class="col-lg-6">
        <h5 class="id-color mb20">Áreas de Práctica</h5>
        <ul class="ul-style-2">
          {% for practice_area in practice_areas %}
          <li>{{ practice_area | title }}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- <div class="col-lg-4">
        <div class="widget">
          <h5 class="id-color">Grupo de noticias</h5>
          <p>Registarte en nuestro Grupo de Noticias para recibir las últimas novedades, actualizaciones y ofertas en tu buzón.</p>
          <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
            <div class="col text-center">
              <input class="form-control" id="name_1" name="name_1" placeholder="Ingrese su correo electrónico" type="text" /> <a href="#" id="btn-submit"><i class="fa fa-long-arrow-right"></i></a>
              <div class="clearfix"></div>
            </div>
          </form>
          <div class="spacer-10"></div>
          <small>Su correo eléctrónico está seguro con nostros. No remitimos spam</small>
        </div>
      </div>
    </div> -->
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="de-flex">
            <div class="de-flex-col">&copy; Copyright 2021 - Con el soporte tecnológico de&nbsp;<a href="http://jlgranda.com" target="_blank" title="Tú negocio en web en 1 día">jlgranda.com</a></div>
            <div class="de-flex-col">
              <div class="social-icons">
                {% for key,social in socials %} 
                {% if social is not null %}
                <a href="{{ social }}" target="_blank">
                  <i class="fa fa-{{- key }}"></i>
                </a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer close -->
<div id="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
