{% setcontent records = (contenttype) latest limit 3 %}

<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h2>Publicaciones recientes</h2>
          <div class="small-border"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for record in records %}
      <div class="col-lg-4 col-md-6 mb30">
        <div class="bloglist item">
          <div class="post-content">
            <div class="date-box">
              <div class="m">{{record.publishedAt|localdate(format='j', locale='es')}}</div>
              <div class="d">{{record.publishedAt|localdate(format='F', locale='es')}}</div>
            </div>
            <div class="post-image">
              <img alt="" src="{{ record.image }}" />
            </div>
            <div class="post-text">
              {% if record|taxonomies['etiquetas'] is defined %} {% for tag in record|taxonomies['etiquetas'] %}
              <span class="p-tagline"
                ><a href="{{ tag | link }}">{{ tag.name }}</a></span
              >
              {% endfor %} {% endif %}
              <h4>
                <a href="{{ record | link }}">{{ record | title }}<span></span></a>
              </h4>
              <p>{{record|excerpt(100)}}</p>
              <span class="p-author">{{record|related('abogados')|first.name}}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
